.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    margin: 0;

    .logout-button {
        background-color: black;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 20px;
    }
}

.p-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
}